:local .App {
  display: grid;
  width: 100%;
  height: 100vh;
}

:local .App.Drawing {
  grid-template:
    "Navbar Navbar Navbar" 100px
    "Sidebar DrawingPad DrawingPad" auto
    "Sidebar DrawingPad DrawingPad" auto / 100px 1fr 1fr;
}

:local .App.Exploring {
  grid-template:
    "Navbar Navbar Navbar" 100px
    "Explorer Explorer Explorer" auto
    "Explorer Explorer Explorer" auto / 1fr 1fr 1fr;
}
