:local .App {
  display: grid;
  grid-template:
    "Header Header Header" 100px
    "Sidebar Main Main" auto
    "Sidebar Main Main" auto / 100px 1fr 1fr;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

:local .Header {
  background-color: blue;
  grid-area: Header;
}

:local .Sidebar {
  background-color: green;
  grid-area: Sidebar;
}

:local .Main {
  grid-area: Main;
}
